[data-span='1'] {
  width: span(10);
}

[data-span='2'] {
  width: span(3);
}

[data-span='3'] {
  width: span(1);
}

[data-span] {
  // @include susy-breakpoint($mobile) {
  // }
    background: rgba(202, 25, 25, 0.87);
    line-height: 50px;
    color: white;
    font-size: 1rem;
    border: 1px solid black;
}